
#app{
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 100%;
}
#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 700px;
    width: 1800px;
    padding: 30px;
    background-color: rgba(3, 4, 5, 0.829);
}

#nav{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 400px;
    
}
#nav img{
    margin: 10px;
}
#text{
    color: white;
    font-size: 30px;
    align-items: baseline;
    text-align: start;
}

#link{
    color: white;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color:teal ;
}
#image{
    background-image: url('assets/images/image-profile-desktop.webp');
    height: 650px;
    width: 400px;
}
#sublinhado{
    text-decoration: underline;
    text-decoration-color: teal;
}
#cards-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:1000px;
    width: 1800px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.829);
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 250px;
    margin-bottom: 30px;
    width: 1800px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    padding: 0px;
    margin: 30px;
    color: white;
    background-color: rgba(3, 4, 5, 0.829);
    font-size: 32px;
}
.cards h2, .card p{
    margin: 0px;
}
#projects{
    display: flex;
    justify-content: baseline;
    align-items: left;
    flex-direction: column;
    height: 2000px;
    width: 1800px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.829);
}
#bigtitle{
    display: flex;
    justify-content:left;
    align-items: left;
    flex-direction: column;
    width: 1800px;
    height: 50px;
    font-size: 60px;
    padding: 30px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.829);
    color :white
}
#image_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    height: 1800px;
    width: 1800px;
}
.projects_image{
    display: flex;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 600px;
    width: 450px;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 1800px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}
#form input{
    padding: 10px;
    width: 500px;
    height: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.027);
    color: white;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.692)
}
#form textarea{
    padding: 10px;
    width: 500px;
    height: 150px;
    margin: 10px;
    background-color:rgba(0, 0, 0, 0.027);
    color: white;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.692)

}
form button{

    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border: none;
    border-radius: 5px;
}
@media screen and (max-width: 1600px) {
    #text{
        font-size: 16px;
    }
    #container{
        width: 1200px;
    }
    #cards-container{
        width: 1200px;
    }
    #bigtitle{
        width: 1200px;
    }
    .cards{
        height: 300px;
        width: 300px;
    }
    #projects{
        width: 1200px;
        height: 2100px;
    }
    .row{
        width: 1200px;
    }
    #image_row{
        width: 1200px;
    }
    #form{
        width: 1200px;
    }
}
@media screen and (max-width: 1200px) {
    #text{
        font-size: 16px;
    }
    #container{
        width: 800px;
        height: 800px;
        flex-direction: column;
    }
    #bigtitle{
        width: 700px;
    }
    #cards-container{
        width: 800px;
        height: 1600px;
        flex-direction: column;
        
    }
    .cards{
        padding: 20px;
        height: 300px;
        width: 300px;
        font-size: 20px;
    }
    .cards h2, .card p{
        padding: 0px;
        margin-top: 0px;
        font-size: 30px;

    }
    .cards img{
        background-color: white;
    }
    #bigtitle{
        width: 800px;
        justify-content:center;
        align-items: center;
    }
    #projects{
        width: 800px;
        height: 4000px;
        flex-direction: column;
        padding: 30px;
    }
    .row{
        width: 800px;
        height: 600px;
        flex-direction: column;
        padding: 10px;
        margin: 50px;
    }
    #image_row{
        width: 800px;
        flex-direction: column;
    }
    #form{
        width: 800px;
    }
}